<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">
<link rel="stylesheet" href="/main.css">

<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

<script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>

<meta property="og:title" content="South Madison Voters">
<meta property="og:site_name" content="South Madison Voters">
<meta property="og:url" content="https://southmadisonvoters.org">
<meta property="og:description" content="">
<meta property="og:type" content="quick_election.election">
<meta property="og:image" content="https://southmadisonvoters.org/img/meta.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MadisonVoters">
<meta name="twitter:title" content="South Madison Voters">
<meta name="twitter:description" content="Getting out the vote in Madison, Wisconsin">
<meta name="twitter:image" content="https://southmadisonvoters.org/img/meta.png">
<meta name="twitter:image:alt" content="South madison Voters">