header {
  .navbar-brand svg {
    margin: -11px 16px 0 0;
  }
}

.navbar-custom {
  background-color: #eee;

  @media (max-width: 474px)  {
    .navbar-brand svg {
      display: none;
    }
  }
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #333;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #074c8d;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: rgba(#074c8d, .8);
}