{% extends '_layouts/default.html' %}
{% set id = "about" %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      <h4 class="text-black">About</h4>
      <p class="text-dark">
        South Madison Voters works to increase voter turnout for the November 
        6th election in the South Madison area to help elect Democratic 
        candidates. We are a volunteer organization that does not take
        financial contributions. We gladly welcome additional volunteers 
        though. 😃 
      </p>
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      <h4 class="text-dark">Contact</h4>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/MadisonVoters" 
               class="text-dark"
               target="_blank">Follow on Twitter</a></li>
        <li><a href="https://www.facebook.com/groups/SouthMadisonVoters" 
               class="text-dark"
               target="_blank">Like on Facebook</a></li>
        {# <li><a href="tel:6084712511" 
               class="text-dark"
               target="_blank">(608) 471 - 2511</a></li> #}
      </ul>
    </div>
  </div>
</div>
{% endblock %}